# Ignore everything by default
*

# Allow .gitignore
!.gitignore

# Allow mobile directory
!mobile/**

# Allow specific workflow
!.github/
!.github/workflows/
!.github/workflows/build_mobile_nanet.yml

# Specific ignores inside mobile (optional but good)
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
